{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'trader_app/permit.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
<title>Permit</title>
</head>
<body>
    <style>
        #map {
            height: 300px;
            width: 100%;
        }
    </style>
    <header>
        <div class="logo"><img src="{% static 'index_app/ministry-of-agriculture-animal-industry-and-fisheries_0.png' %}" class="image"></div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'trader:trader' %}">Home</a></li>
                <li><a href="{% url 'trader:trader_profile' %}">Profile</a></li>
                <li><a href="{% url 'auth:logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="download-btn">
            <button id="download-btn">Download Permit</button>
        </div>
        
        <div id="permit" class="container">
            <div class="qr-code">
                <div class="permit-title">
                    <img src="{% static 'ministrylogo_0.webp' %}" alt="Profile Picture">
                    <div class="title">
                        <h1>MAAIF MOVEMENT PERMIT</h1>
                        <h1>(-District to District-)</h1>
                    </div>
                </div>
                <img src="data:image/png;base64,{{ permit_base64_image_data }}" alt="QR Code" class="img-fluid">
            </div>
        
            <div class="divider1"></div>
            <div class="divider2"></div>
            <div class="divider3"></div>
        
            <div class="permit-content-divider">
                <h1>MOVEMENT PERMIT</h1>
            </div>
        
            <div class="person-info">
                <div class="profile-picture">
                    <img src="{{permit.trader.profile_picture.url}}" alt="Profile Picture">
                </div>
            
                <div class="person-details">
                    <div class="person-details-labels">
                        <h4>No.</h4>
                        <h4>County of:</h4>
                        <h4>Surname:</h4>
                        <h4>Given Name:</h4>
                    </div>
                    <div class="person-details-inputs">
                        <h4>{{ permit.id }}</h4>
                        <h4>{{ permit.trader.county }}</h4>
                        <h4>{{ permit.trader.first_name }}</h4>
                        <h4>{{ permit.trader.last_name }}</h4>
                    </div>
                </div>
            </div>
            
            <div class="permit-info">
                <div class="permit-info-labels">
                    <h1>a) From:</h1>
                    <h1>b) To:</h1>
                    <h1>c) Quantity:</h1>
                    <h1>d) For the purpose of:</h1>
                </div>
        
                <div class="permit-info-inputs">
                    <h1>{{ permit.source }}</h1>
                    <h1>{{ permit.destination }}</h1>
                    <h1>{{ total_animals }}</h1>
                    <h1>{{ permit.purpose }}</h1>
                </div>
            </div>
        
            <div class="inspector-date-info">
                <div class="inspector-info">
                    <h4>{{ permit.user.first_name }} {{ permit.user.last_name }}</h4>
                    <div class="line"></div>
                    <h4>Inspecting Office</h4>
                </div>
                <div class="date-info">
                    <h4>{{ permit.date_of_expiry }}</h4>
                    <div class="line"></div>
                    <h4>Date</h4>
                </div>
            </div>
            <div class="footer">
                <h2>Conditions</h2>
                <p>This permit is issued subject to observance of and compliance with the particular furnished and set out in (a) to (f) of this permit.</p>
            </div>
        </div>
        
        {% for animal_info, animal_base64_image_data in zipped_animal_info %}
            <div class="container-2">
                <div class="image">
                    <img src="data:image/png;base64,{{ animal_base64_image_data }}" alt="QR Code" class="img-fluid">
                </div>
                <div class="animal-info">
                    <h1><strong>Animal Type:</strong> {{ animal_info.animal.type }}</h1>
                    <h1><strong>Quantity:</strong> {{ animal_info.quantity }} / {{ total_animals }}</h1>
                    <h1><strong>Sex:</strong> {{ animal_info.sex }}</h1>
                    <h1><strong>Color:</strong> {{ animal_info.color }}</h1>
                    <h1><strong>License ID:</strong> {{ animal_info.trader.license_id }}</h1>
                    <h1><strong>Permit ID:</strong> {{ animal_info.permit.id }}</h1>
                </div>
                <div class="image">
                    <img src="{{ animal_info.animal.animal_img.url }}" alt="Animal Image" class="img-fluid"> 
                </div>
            </div>
        {% endfor %}

        <div id="map"></div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script>
        window.onload = function () {
            document.getElementById("download-btn")
                .addEventListener("click", () => {
                    const permit = this.document.getElementById("permit");
                    console.log(permit);
                    console.log(window);
                    var opt = {
                        margin: 0.1,
                        filename: '{{ permit.id }} permit.pdf',
                        image: { type: 'jpeg', quality: 0.98 },
                        html2canvas: { scale: 2 },
                        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                    };
                    html2pdf().from(permit).set(opt).save();
                })
        }
        
        const sourceCoordinates = {{ source_coordinates|safe }};
        const destinationCoordinates = {{ destination_coordinates|safe }};
        let permitStatus = "{{ permit_status }}";
    
        console.log("Permit status:", permitStatus);
    
        const map = L.map('map').setView([sourceCoordinates.latitude, sourceCoordinates.longitude], 7);
    
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    
        let initialRouteColor = 'blue';
    
        if (permitStatus === "In Transit") {
            initialRouteColor = 'yellow';
        } else if (permitStatus === "Expired") {
            initialRouteColor = 'red';
        }
    
        if (!navigator.geolocation) {
            console.log("Your browser doesn't support geolocation feature!");
        } else {
            setInterval(() => {
                if (permitStatus === "In Transit") {
                    navigator.geolocation.getCurrentPosition(getPosition);
                }
            }, 5000);
        }
    
        function getPosition(position) {
            const lat = position.coords.latitude;
            const lon = position.coords.longitude;
    
            updateTraderPosition(lat, lon);
    
            L.circle([lat, lon], {
                color: 'blue',
                fillColor: '#30f',
                fillOpacity: 0.5,
                radius: 500
            }).addTo(map);
        }
    
        function updateTraderPosition(latitude, longitude) {
            fetch("{% url 'trader:update_position' permit.id %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({
                    latitude: latitude,
                    longitude: longitude
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Position updated:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    
        const control = L.Routing.control({
            waypoints: [
                L.latLng(sourceCoordinates.latitude, sourceCoordinates.longitude),
                L.latLng(destinationCoordinates.latitude, destinationCoordinates.longitude)
            ],
            routeWhileDragging: true,
            lineOptions: {
                styles: [{color: initialRouteColor, opacity: 0.7, weight: 4}]
            }
        }).addTo(map);

        var truckIcon = L.icon({
			iconUrl: "{% static 'trader_app/truck.jpeg' %}",
			iconSize: [40, 40]
		})
    
        let marker = L.marker([sourceCoordinates.latitude, sourceCoordinates.longitude], { icon: truckIcon }).addTo(map);
    
        if (permitStatus === "In Transit") {
            control.on('routesfound', function (e) {
                const route = e.routes[0].coordinates;
                let index = 0;
    
                function moveMarker() {
                    if (index < route.length) {
                        marker.setLatLng([route[index].lat, route[index].lng]);
                        index++;
                        setTimeout(moveMarker, 10);
                    } else {
                        fetch("{% url 'trader:update_permit_status' permit.id %}", { method: 'POST' })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    marker.setLatLng([destinationCoordinates.latitude, destinationCoordinates.longitude]);
                                    alert('Permit status updated to Expired');
                                    permitStatus = "Expired";
                                } else {
                                    alert('Failed to update permit status');
                                }
                            });
                    }
                }
                moveMarker();
            });
        }
    </script>
</body>
</html>