{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Reset Password</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'ministrylogo_0.webp' %}" alt="image">
        </div>
        <ul>
            <li><a href="{% url 'index' %}"><button>Home</button></a></li>
            <li><a href="{% url 'apply' %}"><button>Apply</button></a></li>
            <li><a href="#"><button>About</button></a></li>
            <li><a href="#"><button>News</button></a></li>
            <li><a href="#"><button>Contact Us</button></a></li>
            <li><a href="{% url 'login' %}"><button>Login</button></a></li>
        </ul>
    </header>

    <main>
        <form action="{% url 'auth:index_reset_password' email %}" method="post">
            {% csrf_token %}
            <div class="form-title">
                <h1>Reset Password</h1>
            </div>

            <div class="error-message">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div>
                <label for="new_password">New Password</label>
                <input type="password" id="new_password" name="new_password">
            </div>
            <div>
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password">
            </div>
            <button type="submit">Reset</button>
        </form>
    </main>

</body>
</html>