{% extends 'index_app/base.html' %}

{% load static %}

{% block title %}login{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'index_app/actpage.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{% endblock %}

{% block content %}
        <object 
        data="https://ugandatrades.go.ug/media/136_1Animal_Diseases_Rules_(S.I._38_4).pdf" 
        type="application/pdf" width="700" height="700"></object>
    </main>
{% endblock %}